{% extends 'base.html'%}
{% block content %}
{% load static %}
{% load i18n %}
<div class="hi1">
        <img src="{% static "mainpage/img/hey.png" %}" alt="" class="hey">
        <h1 class="title">{% trans "О нас!" %}</h1>
        <img src="{% static "mainpage/img/hey.png" %}" alt="" class="hey">
    </div>
    <div class="content-about">
        <h4 class="text">{% trans "Кондитерский цех «Бонжур» - одно из крупных кондитерских предприятий г.Бишкек, основанное в 2003 г.<br><br>Сегодня Бонжур – это актуальный и активно растущий бренд, стабильно развивающиеся предприятие.Основным видом деятельности является оптовая продажа кондитерскими изделиями, а также торты на заказ(свадебные, юбилейные, детские) и широкий ассортимент кондитерских изделий на праздничные банкеты, фуршеты и кенди-бар. При производстве кондитерских изделий используются качественные, натуральные и разрешенные халал продукты." %}</h4>
    </div>
{% endblock%}

